.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchForm {
  width: 50%;
  padding: 0.5rem 0;
}

.searchForm input[type="text"] {
  margin-left: 0.5rem;
}

.newPostForm textarea {
  height: 300px;
}

@media only screen and (min-width: 992px) {
  .Header svg {
    font-size: 3rem;
  }
}

.Header h1 {
  font-size: 1.5rem;
}

body {
  min-height: 100vh;
  display: flex;
  background-color: #efefef;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header,
.footer {
  width: 100%;
  background-color: #66d8f5;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 5px;
}

.Nav {
  background-color: black;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  width: 1050px;
}

input {
  width: 300px;
  height: 50px;
}

.Home {
  height: 400px;
}
